<footer class="px-4 md:px-36 py-10 bg-gray-100 md:flex">
  <div
    class="flex flex-col mb-2 md:mb-0 md:block gap-2 md:gap-8 md:[&_a]:inline-block md:[&_a]:me-8 md:[&_a]:mb-2 text-center [&_a]:text-gray-600 [&_a:hover]:text-black md:text-start">
    <a [routerLink]="['']">{{ 'translate_main_page' | translate }}</a>
    <a [routerLink]="['']">{{ 'translate_about_us' | translate }}</a>
    <a [routerLink]="['']">{{ 'translate_faq' | translate }}</a>
    <a [routerLink]="['']">{{ 'translate_privacy_policy' | translate }}</a>
    <a [routerLink]="['']">{{ 'translate_terms_and_conditions' | translate }}</a>
    <a [routerLink]="['']">{{ 'translate_contact_us' | translate }}</a>
  </div>
  <div
    class="text-center md:text-end md:ms-auto [&_img]:h-8 [&_img]:w-8 [&_img]:opacity-80 [&_img:hover]:opacity-100 [&_img]:inline-block md:min-w-52 [&_img]:me-2 [&_img::last-of-type]:me-0">
    <a href="https://www.youtube.com/@arabtherapy" target="_blank">
      <img src="assets/image/icons/youtube.svg" />
    </a>
    <a href="https://www.instagram.com/arabtherapyofficial" target="_blank">
      <img src="assets/image/icons/instagram.svg" />
    </a>
    <a href="https://twitter.com/arab_therapy" target="_blank">
      <img src="assets/image/icons/twitter.svg" />
    </a>
    <a href="https://www.facebook.com/Arabtherapy" target="_blank">
      <img src="assets/image/icons/facebook.svg" />
    </a>
  </div>
</footer>