<section class="relative">
  <img src="assets/image/shap-bg.png" class="absolute -z-10 pt-52 top-0 bottom-0 left-0 h-full w-full">
  <div class="border rounded-2xl p-16 bg-white text-center md:max-w-[730px] -mt-20 md:-mt-28 mx-4 md:mx-auto mb-16">
    <div class="text-lg font-bold mb-5">
      {{ 'translate_demo_account_header' | translate }}
    </div>
    <p class="font-medium mb-7">
      {{ 'translate_demo_account_sub_header' | translate }}
    </p>
    <button class="bg-blue-900 hover:bg-blue-950 focus-within:bg-blue-950 text-white rounded px-10 py-3">
      {{ 'translate_request_demo_account' | translate}}
    </button>
  </div>
  <div class="px-4 md:px-32">
    <p class="mb-28 text-center text-3xl">
      يعد
      <span class="relative font-bold">
        القلق
        <img src="assets/image/word-bg.svg" class="w-full absolute top-0 left-0 scale-110 -z-10">
      </span>
      من أكثر الإضطرابات النفسية شيوعًا
    </p>
    <div
      class="text-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16 pb-32 [&_h3]:text-3xl [&_h3]:font-bold [&_h3]:mb-6 [&_h3]:text-green-600 [&_p]:mb-0 [&_p]:text-lg [&_p]:font-semibold [&_p]:text-gray-700">
      <div>
        <h3>
          301 مليون
        </h3>
        <p>
          مليون شخص حول العالم يعانون من القلق.
        </p>
      </div>
      <div>
        <h3>
          64%
        </h3>
        <p>
          من الأشخاص المصابين بالقلق أو أحد اضطرابات القلق يتعافون بعد تلقي العلاج المناسب
        </p>
      </div>
      <div>
        <h3>
          25%
        </h3>
        <p>
          يتلقى شخص واحد تقريباً من بين كل 4 أشخاص يعانون من اضطرابات القلق العلاج المناسب.
        </p>
      </div>
      <div>
        <h3>
          58 مليون
        </h3>
        <p>
          طفل تم تشخيصه بالقلق.
        </p>
      </div>
    </div>
  </div>
</section>