<section class="relative">
  <img src="assets/image/shap-bg.png" class="absolute -z-10 pt-52 top-0 bottom-0 left-0 h-full w-full">
  <div class="border rounded-2xl p-16 bg-white text-center md:max-w-[730px] -mt-20 md:-mt-28 mx-4 md:mx-auto mb-16">
    <div class="text-lg font-bold mb-5">
      {{ 'translate_demo_account_header' | translate }}
    </div>
    <p class="font-medium mb-7">
      {{ 'translate_demo_account_sub_header' | translate }}
    </p>
    <button (click)="showRequestDemoAccount()"
      class="bg-blue-900 hover:bg-blue-950 focus-within:bg-blue-950 text-white rounded px-10 py-3">
      {{ 'translate_request_demo_account' | translate}}
    </button>
  </div>
  <div class="px-4 md:px-32">
    <p class="mb-28 text-center text-3xl">
      يعد
      <span class="relative font-bold">
        القلق
        <img src="assets/image/word-bg.svg" class="w-full absolute top-0 left-0 scale-110 -z-10">
      </span>
      من أكثر الإضطرابات النفسية شيوعًا
    </p>
    <div
      class="text-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16 pb-32 [&_h3]:text-3xl [&_h3]:font-bold [&_h3]:mb-6 [&_h3]:text-green-600 [&_p]:mb-0 [&_p]:text-lg [&_p]:font-semibold [&_p]:text-gray-700">
      <div>
        <h3>
          301 مليون
        </h3>
        <p>
          مليون شخص حول العالم يعانون من القلق.
        </p>
      </div>
      <div>
        <h3>
          64%
        </h3>
        <p>
          من الأشخاص المصابين بالقلق أو أحد اضطرابات القلق يتعافون بعد تلقي العلاج المناسب
        </p>
      </div>
      <div>
        <h3>
          25%
        </h3>
        <p>
          يتلقى شخص واحد تقريباً من بين كل 4 أشخاص يعانون من اضطرابات القلق العلاج المناسب.
        </p>
      </div>
      <div>
        <h3>
          58 مليون
        </h3>
        <p>
          طفل تم تشخيصه بالقلق.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="hidden">
  <div #requestDemoFormTemp>
    <h3 class="m-10 text-3xl font-bold text-center">
      {{ 'translate_request_demo_account_form_title' | translate }}
    </h3>
    <form [formGroup]="requestDemoForm" class="relative text-start" (ngSubmit)="submitRequestDemoAccount()">
      <div *ngIf="isSendingDemoRequest"
          class="h-full w-full bg-black/10 rounded z-10 absolute flex items-center cursor-not-allowed">
          <app-spinner class="block mx-auto h-fit"></app-spinner>
      </div>
      <div
        class="grid grid-cols-2 gap-5 [&_label]:inline-block [&_label]:mb-2 [&_label]:text-xs md:[&_label]:text-sm  [&_label]:font-bold">
        <div>
          <label for="name">
            {{ 'translate_name' | translate }}
          </label>
          <input type="text" id="name" formControlName="name" [placeholder]="'translate_enter_name' | translate"
            class="rounded w-full py-2 px-3 outline-none border"
            [ngClass]="requestDemoForm.get('name')?.touched && requestDemoForm.get('name')?.invalid ? 'border-red-600' : 'border-gray-300 hover:border-blue-700 focus-within:border-blue-700'">
          <ng-container
            *ngIf="requestDemoForm.get('name')?.touched && requestDemoForm.get('name')?.hasError('required')">
            <small class="text-red-600 text-sm">
              {{ 'translate_name_required' | translate }}
            </small>
          </ng-container>
        </div>
        <div>
          <label for="email">
            {{ 'translate_company_email' | translate }}
          </label>
          <input type="email" id="email" formControlName="email"
            [placeholder]="'translate_enter_company_email' | translate"
            class="rounded w-full py-2 px-3 outline-none border"
            [ngClass]="requestDemoForm.get('email')?.touched && requestDemoForm.get('email')?.invalid ? 'border-red-600' : 'border-gray-300 hover:border-blue-700 focus-within:border-blue-700'">
          <ng-container
            *ngIf="requestDemoForm.get('email')?.touched && requestDemoForm.get('email')?.hasError('required')">
            <small class="text-red-600 text-sm">
              {{ 'translate_company_email_required' | translate }}
            </small>
          </ng-container>
          <ng-container
            *ngIf="requestDemoForm.get('email')?.touched && requestDemoForm.get('email')?.hasError('email')">
            <small class="text-red-600 text-sm">
              {{ 'translate_company_email_invalid' | translate }}
            </small>
          </ng-container>
        </div>
        <div>
          <label for="phone">
            {{ 'translate_phone' | translate }}
          </label>
          <div class="rtl:[&_.iti>div:first-child]:left-auto">
            <ngx-intl-tel-input dir="rtl" class="w-full block [&_.iti]:w-full rtl:[&_.iti>div:first-child]:left-auto"
              cssClass="phone-input w-full border-[1px] rounded py-2.5 text-gray-900 placeholder:text-gray-400 outline-none sm:text-sm sm:leading-6 {{ requestDemoForm.get('phone')?.touched && requestDemoForm.get('phone')?.invalid ? 'border-red-600': 'border-gray-300 hover:border-blue-700 focus-within:border-blue-700'}}"
              [preferredCountries]="preferredCountries" [customPlaceholder]="'translate_enter_phone' | translate"
              [searchCountryFlag]="true" [searchCountryField]="searchCountryField"
              [selectedCountryISO]="selectedCountryISO" [separateDialCode]="false" [maxLength]="15"
              formControlName="phone" [inputId]="'phone'"></ngx-intl-tel-input>
          </div>
          <ng-container
            *ngIf="requestDemoForm.get('phone')?.touched && requestDemoForm.get('phone')?.hasError('required')">
            <small class="text-red-600 text-sm">
              {{ 'translate_phone_required' | translate }}
            </small>
          </ng-container>
          <ng-container
            *ngIf="requestDemoForm.get('phone')?.touched && requestDemoForm.get('phone')?.hasError('validatePhoneNumber')">
            <small class="text-red-600 text-sm">
              {{ 'translate_phone_invalid' | translate }}
            </small>
          </ng-container>
        </div>
        <div>
          <label for="company_name">
            {{ 'translate_company_name' | translate }}
          </label>
          <input type="text" id="company_name" formControlName="companyName"
            [placeholder]="'translate_enter_company_name' | translate"
            class="rounded w-full py-2 px-3 outline-none border"
            [ngClass]="requestDemoForm.get('companyName')?.touched && requestDemoForm.get('companyName')?.invalid ? 'border-red-600' : 'border-gray-300 hover:border-blue-700 focus-within:border-blue-700'">
          <ng-container
            *ngIf="requestDemoForm.get('companyName')?.touched && requestDemoForm.get('companyName')?.hasError('required')">
            <small class="text-red-600 text-sm">
              {{ 'translate_company_name_required' | translate }}
            </small>
          </ng-container>
        </div>
        <div>
          <label for="company_size">
            {{ 'translate_company_size' | translate }}
          </label>
          <ng-select
            [ngClass]="requestDemoForm.get('companySize')?.touched && requestDemoForm.get('companySize')?.hasError('required')
              ? '[&_.ng-select-container]:border-red-600'
              : '[&_.ng-select-container]:border-gray-300 [&_.ng-select-container]:hover:border-blue-700 [&:is(.ng-select-focused)>.ng-select-container]:border-blue-700 [&:is(.ng-select-focused:not(.ng-select-opened))>.ng-select-container]:border-blue-700'"
            class="[&_.ng-select-container]:border-[1px]
            [&:is(.ng-select.ng-select-single)_.ng-select-container]:h-[52px] [&_.ng-select-container]:hover:outline-none
            [&:is(.ng-select-focused:not(.ng-select-opened))>.ng-select-container]:shadow-none"
            [placeholder]="'translate_choose_company_size' | translate" bindValue="id" bindLabel="label"
            id="company_size" formControlName="companySize" [items]="comapnySizes">
          </ng-select>
          <ng-container
            *ngIf="requestDemoForm.get('companySize')?.touched && requestDemoForm.get('companySize')?.invalid">
            <small class="text-red-600 text-sm">
              {{ 'translate_company_size_required' | translate }}
            </small>
          </ng-container>
        </div>
      </div>
      <p class="my-12 text-gray-700 text-sm font-medium">
        "{{ 'translate_request_demo_account_form_p' | translate }}"
      </p>
      <div class="text-end">
        <button type="submit" [disabled]="requestDemoForm.invalid || isSendingDemoRequest"
          class="mb-4 bg-blue-900 hover:bg-blue-950 focus-within:bg-blue-950 text-white disabled:bg-blue-400 disabled:cursor-not-allowed rounded px-10 py-3">
          {{ 'translate_request_demo_account' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>